In [2]:
import os
import xml.etree.ElementTree as ET
import pandas as pd

In [3]:
def extract_putusan_xml_to_dict(element):
   data = {}

    # Menyimpan atribut dari tag <putusan>
   if element.tag == 'putusan':
      for key, value in element.attrib.items():
         data[key] = value

    # Rekursif untuk semua anak elemen
   for child in element:
      if child.text and child.text.strip():
         data[child.tag] = child.text.strip()
      # Rekursif untuk anak elemen yang lebih dalam
      child_data = extract_putusan_xml_to_dict(child)
      data.update(child_data)
    
   return data

def get_root_xml(filename):
   tree = ET.parse(filename)
   return tree.getroot()

In [4]:
files = [f"../data/dataset_putusan/{file}" for file in os.listdir("../data/dataset_putusan")]

print(f"total files xml: {len(files)}")

total files xml: 22630

In [5]:
# Parse file XML to object
objects_xml = [get_root_xml(file) for file in files]

print(f"total object xml: {len(objects_xml)}")

total object xml: 22630

In [6]:
# Ambil data dari tag <putusan>
data_pidana_umum = []
data_pidana_khusus = []

for object in objects_xml:
   data = extract_putusan_xml_to_dict(object)

   if data['klasifikasi'] == "pidana-umum":
      data_pidana_umum.append(data)
   else:
      data_pidana_khusus.append(data)

In [11]:
print(len(data_pidana_umum[:100]))

df_pidana_umum_test = pd.DataFrame(data_pidana_umum[:100])

df_pidana_umum_test.to_csv("../data/dataset_csv/dataset_pidana_umum_test.csv", index=False)

100

In [6]:
df_pidana_umum = pd.DataFrame(data_pidana_umum)
df_pidana_khusus = pd.DataFrame(data_pidana_khusus)

df_pidana_umum.info(), df_pidana_khusus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10729 entries, 0 to 10728
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   amar                10729 non-null  object
 1   amar_lainnya        10729 non-null  object
 2   id                  10729 non-null  object
 3   klasifikasi         10729 non-null  object
 4   lama_hukuman        10729 non-null  object
 5   lembaga_peradilan   10729 non-null  object
 6   provinsi            10729 non-null  object
 7   status              10729 non-null  object
 8   sub_klasifikasi     10729 non-null  object
 9   url                 10729 non-null  object
 10  kepala_putusan      10727 non-null  object
 11  identitas           9481 non-null   object
 12  riwayat_penahanan   8830 non-null   object
 13  riwayat_perkara     10630 non-null  object
 14  riwayat_tuntutan    10228 non-null  object
 15  riwayat_dakwaan     10577 non-null  object
 16  fakta               10374 non-null  object
 17  amar_putusan        10719 non-null  object
 18  penutup             10523 non-null  object
 19  fakta_hukum         4975 non-null   object
 20  pertimbangan_hukum  4887 non-null   object
dtypes: object(21)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11901 entries, 0 to 11900
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   amar                11901 non-null  object
 1   amar_lainnya        11901 non-null  object
 2   id                  11901 non-null  object
 3   klasifikasi         11901 non-null  object
 4   lama_hukuman        11901 non-null  object
 5   lembaga_peradilan   11901 non-null  object
 6   provinsi            11901 non-null  object
 7   status              11901 non-null  object
 8   sub_klasifikasi     11901 non-null  object
 9   url                 11901 non-null  object
 10  kepala_putusan      11901 non-null  object
 11  identitas           10268 non-null  object
 12  riwayat_penahanan   9814 non-null   object
 13  riwayat_perkara     11739 non-null  object
 14  riwayat_tuntutan    11439 non-null  object
 15  riwayat_dakwaan     11720 non-null  object
 16  fakta               11453 non-null  object
 17  fakta_hukum         5641 non-null   object
 18  amar_putusan        11898 non-null  object
 19  penutup             11671 non-null  object
 20  pertimbangan_hukum  5843 non-null   object
dtypes: object(21)
memory usage: 1.9+ MB

(None, None)

In [10]:
df_pidana_umum.shape[0], df_pidana_khusus.shape[0]

(10729, 11901)

In [7]:
df_pidana_umum.to_csv("../data/dataset_csv/dataset_pidana_umum.csv", index=False)
df_pidana_khusus.to_csv("../data/dataset_csv/dataset_pidana_khusus.csv", index=False)